{% extends 'index_new.html' %}
{% load static %}
{% block content %}

<section id="content-wrap" class="site-page">
        <div class="row">
            <div class="col-twelve">
 
                <section>  
 
                    <div class="content-media">						
                         <img src="{% static 'images/thumbs/about-us.jpg' %}">						  
                     </div>
 
                     <div class="primary-content">
 
                         <h1 class="entry-title add-bottom">Learn More About Us.</h1>	
 
                         <p class="lead">Akshay to write here.</p> 
 
                         <p>Akshay to write here.</p>

 
                         <div class="row block-1-2 block-tab-full">
                             <div class="bgrid">
                                 <h3>Who.</h3>
                                 <p>Akshay to write here..</p>
                             </div>
 
                             <div class="bgrid">
                                 <h3>When.</h3>
                                 <p>Akshay to write here.</p>
                             </div>
 
                         </div>
 
                     </div>						
 
                 </section>  		
 
             </div> <!-- end col-twelve -->
        </div> <!-- end row -->
         
    </section> <!-- end content -->
 
 

{% endblock content %}