{% extends 'index_new.html' %}
{% block content %}
<section id="bricks">
        <div class="row masonry">
           <!-- brick-wrapper -->
           <div class="bricks-wrapper">
              <div class="grid-sizer"></div>
              
              {% for post in post_list %}
              <article class="brick entry format-standard animate-this">
                 <div class="entry-thumb">
                    <a href="{% url 'post_detail' post.slug  %}" class="thumb-link">
                    <img src="{{ post.image.url }}" alt="building">             
                    </a>
                 </div>
                 <div class="entry-text">
                    <div class="entry-header">
                       <h1 class="entry-title"><a href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a></h1>
                    </div>
                    <div class="entry-excerpt">
                       {{post.content|slice:":150" }}.........
                    </div>
                 </div>
              </article>
              <!-- end article -->
              {% endfor %}
           </div>
           <!-- end brick-wrapper --> 
        </div>
        <!-- end row -->
        <div class="row">
           <nav class="pagination">
              <span class="page-numbers prev inactive">Prev</span>
              <span class="page-numbers current">1</span>
              <a href="#" class="page-numbers">2</a>
              <a href="#" class="page-numbers">3</a>
              <a href="#" class="page-numbers">4</a>
              <a href="#" class="page-numbers">5</a>
              <a href="#" class="page-numbers">6</a>
              <a href="#" class="page-numbers">7</a>
              <a href="#" class="page-numbers">8</a>
              <a href="#" class="page-numbers">9</a>
              <a href="#" class="page-numbers next">Next</a>
           </nav>
        </div>
     </section>
     {% endblock content %}