{% extends 'index_new.html' %}
{% block content %}
<section id="bricks">
        <div class="row masonry">
           <!-- brick-wrapper -->
           <div class="bricks-wrapper">
              <div class="grid-sizer"></div>
              
              {% for post in post_list %}
              <article class="brick entry format-standard animate-this">
                 <div class="entry-thumb">
                    <a href="{% url 'post_detail' post.slug  %}" class="thumb-link">
                    <img src="{{ post.image.url }}" alt="building">             
                    </a>
                 </div>
                 <div class="entry-text">
                    <div class="entry-header">
                       <h1 class="entry-title"><a href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a></h1>
                    </div>
                    <div class="entry-excerpt">
                       {{post.content|slice:":150" }}.........
                    </div>
                 </div>
              </article>
              <!-- end article -->
              {% endfor %}
           </div>
           <!-- end brick-wrapper --> 
        </div>
        <!-- end row -->
      
     </section>
     {% endblock content %}